#app {
  display: flex;
  flex-direction: column;

  height: 100%;

  text-align: center;
  
  --main-color: rgb(189, 22, 22);
  --border: 1px solid #aaa;
  --border-radius: 0.3em;
  --card-color: rgb(97, 5, 1);
}

body,#app,#app>.content {
  overflow: hidden;
}

#app>.content {
  display: flex;
  flex-direction: row;

  height: 100%;
}
