#top-bar {
  position: fixed;
  display: flex;

  width: 100%;
  height: var(--top-bar-height);
  
  background: var(--main-color);

  color: #fff;
  font-size: 1em;
  font-weight: 700;

  z-index: var(--bar-layer);
}

#top-bar>div {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

#top-bar>.center {
  flex-grow: 1;
}

#top-bar>.right {
  margin-right: 0.6em;
}
