div.button {
  cursor: pointer;
  
  padding: 0.6em;

  font-size: 1em;
}

div.button:hover {
  font-weight: 500;
}

button, div.button.std {
  width: fit-content;
  min-width: 2em;

  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;

  background: white;

  color: black;
}
